.room {
    display: flex;
    padding: 10px;
    margin-top: 25px;
    border: solid black;
    border-width: 1px;
}

.flex-box {
    display: flex;
    border: solid gray 1px;
    margin: 5px;
}

.flex-box * {
    margin: 15px;
}

.flex-box input[type=button]{
    margin-right: 5px;
    margin-left: auto;
}

h2, h3 {
    font-style: italic;
}

[class^="column"] {
    margin: 15px;
}

.column70 {
    width: 70%;
}

.column30 {
    width: 30%;
}

li {
    margin-left: 15px;
}

@media screen and (max-width: 600px) {
    .room {
        display: block;
    }
    [class^="column"] {
        width: 95%;
        margin: auto;
    }
}

.room h2 {
    margin-top: 0px;
}

.room img {
    width: 100%;
}

input[type="button"] {
    display: block;
}

.price {
    display: inline;
}

.price h3 {
    font-weight: bold;
}

[id^="details"] {
    display: none;
}

#reservation {
    text-align: center;
    border: solid black 1px;
    padding-bottom: 10px;
}

input[type=button]:hover{
    opacity: 0.8;
}

#_reservation input[type="button"] {
    margin: auto;
}

#_reservation label {
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 20px;
}

#_reservation input[type="date"] {
    margin-right: 20px;
    padding-left: 0px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
    padding: 2px 16px;
    background-color: beige;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: beige;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    cursor: pointer;
}

input[type=text], input[type=email], input[type=tel], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit], textarea {
    margin-top: 6px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1200px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: rgb(221, 221, 221);
    margin-bottom: 10px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    float: right;
}

input[type=submit]:hover {
    background-color: darkgray;
}