.column img {
    height: auto;
    width: 90%;
    margin: auto;
    display: block;
}

.column {
    float: left;
    width: calc(100% / 3 - 50px);
    margin: 25px;
}

.column h2 {
    font-size: 24pt;
    text-align: center;
    font-family: cursive;
}

.column p {
    color: black;
    padding: 5px;
}

#titlepic {
    height: auto;
    width: 80%;
    display: block;
    margin: auto;
}