.person {
    border: solid black;
    border-width: 1px;
    margin-top: 25px;
    padding: 10px;
    width: 100%;
    display: flex;
}

.column30 {
    width: 30%;
}

.column70 {
    width: 70%;
}

.person div{
    margin: 5px;
}

.person img{
    width: 100%;
    height: auto;
    display: block;
}


@media screen and (max-width: 600px) {
    .person {
        display: block;
    }

    [class^="column"] {
        width: 95%;
    }
}
